.footer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem auto;

  &__section {
    &-list {
			list-style-type: none;
			
			&--title{
				font-weight: bold;
				padding: 0;
			}

			&--item{
				padding: 0;
			}
    }
  }
}
