@import './mixins.scss';

.eggHeader {
    background-color: #ffd963	;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;

    @include small-desktop {
        justify-content: space-between;
    }
  
    &__img {
      width: 15%;
      height: 15%;
      margin-top: 5px;

      @include small-desktop {
          width: 8%;
          height: 8%;
          margin-left: 2rem;
          margin-bottom: 0.5rem;
      }
    }
  
    &__nav {
  
      &-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        @include small-desktop {
            margin-right: 2rem;
        }

        &--item {
          margin-right: 1rem;
          text-decoration: none;

          @include small-desktop {
            margin-right: 4rem;
            }
        }
      }
    }  
  }
  