.App {
  text-align: center;
}

.eggHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;

  &__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;

    &--item {
      margin-right: 1rem;
      text-decoration: none;
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
