.App {
  text-align: center;
}

.eggHeader {
  background-color: #ffd963	;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;

  &__img {
    width: 10%;
    height: 10%;
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;

    &--item {
      margin-right: 1rem;
      text-decoration: none;
    }
  }
}
