@import './mixins.scss';
@import './fonts.scss';

.hero {
    margin: 6rem 1rem 0rem 1rem;
    text-align: center;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FAE5C0;
    border-radius: 10px;

    @include small-desktop {
    }

    &__button {
        font-family: Roboto;
        margin-top: 2rem;
        height: 3rem;
        width: 8rem;
        background-color: #FDC900;
        color: white;
        border-radius: 10px;
        font-size: 1.2rem;
        border: none;
        text-shadow: 
        1px   0  0   #000, 
       -1px   0  0   #000, 
        0    1px 0   #000, 
        0   -1px 0   #000, 
        1px  1px 0   #000, 
       -1px -1px 0   #000, 
        1px -1px 0   #000, 
       -1px  1px 0   #000,
        1px  1px 5px #000; 

        @include small-desktop {
            margin-top: 1rem;
        }
    }

    &__text {
        font-family: Roboto;
        padding-top: 4rem;
        color: #ffd963;
        font-size: 1rem;
        text-shadow: 
        2px   0  0   #000, 
       -2px   0  0   #000, 
        0    2px 0   #000, 
        0   -2px 0   #000, 
        1px  1px 0   #000, 
       -1px -1px 0   #000, 
        1px -1px 0   #000, 
       -1px  1px 0   #000,
        1px  1px 5px #000; 

        @include small-desktop {
            margin-top: 9rem;
            font-size: 3rem;
        }

        &-sub {
            font-family: Roboto;
            font-size: 1rem;
            color: #ffd963;
            text-shadow: 
            2px   0  0   #000, 
           -2px   0  0   #000, 
            0    2px 0   #000, 
            0   -2px 0   #000, 
            1px  1px 0   #000, 
           -1px -1px 0   #000, 
            1px -1px 0   #000, 
           -1px  1px 0   #000,
            1px  1px 5px #000;
            
            @include small-desktop {
                font-size: 3rem;
            }
        }
    }
}