@import './mixins.scss';

.hero {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/phonehen.jpg');
    background-repeat: no-repeat;

    @include small-desktop {
        background-image: url('../assets/desktophens.jpg');
        background-size: cover;
    }

    &__button {
        margin-top: 2rem;
        height: 3rem;
        width: 8rem;
        background-color: #FFD963;
        color: white;
        border-radius: 10px;
        font-size: 1.2rem;
        border: none;
        text-shadow: 
        1px   0  0   #000, 
       -1px   0  0   #000, 
        0    1px 0   #000, 
        0   -1px 0   #000, 
        1px  1px 0   #000, 
       -1px -1px 0   #000, 
        1px -1px 0   #000, 
       -1px  1px 0   #000,
        1px  1px 5px #000; 

        @include small-desktop {
            margin-top: 5rem;
        }
    }

    &__text {
        margin-top: 5rem;
        color: #ffd963;
        font-size: 1.5rem;
        text-shadow: 
        2px   0  0   #000, 
       -2px   0  0   #000, 
        0    2px 0   #000, 
        0   -2px 0   #000, 
        1px  1px 0   #000, 
       -1px -1px 0   #000, 
        1px -1px 0   #000, 
       -1px  1px 0   #000,
        1px  1px 5px #000; 

        @include small-desktop {
            margin-top: 9rem;
            font-size: 4rem;
        }

        &-sub {
            font-size: 1.5rem;
            color: #ffd963;
            text-shadow: 
            2px   0  0   #000, 
           -2px   0  0   #000, 
            0    2px 0   #000, 
            0   -2px 0   #000, 
            1px  1px 0   #000, 
           -1px -1px 0   #000, 
            1px -1px 0   #000, 
           -1px  1px 0   #000,
            1px  1px 5px #000;
            
            @include small-desktop {
                font-size: 4rem;
            }
        }
    }
}